.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.song-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 16px;
}