.App {
  text-align: center;
}

.App-header {
  font-size: 45px;
  font-family:sans-serif;
  font-weight: 300px;
  letter-spacing: .1rem;
  color: white;
  margin-bottom:50px;
}

.h2 {
  font-size:22px;
  color: white;
  font-style: italic;
  margin-bottom:40px;
}

.form {
  color: white;
}

.sliderStyle {
  max-width: 400px;
  margin-bottom: 25px;
}

.buttonContainer {
  margin-top: 20px;
}

.slider-label {
  transition: color 0.3s; /* Add a transition for the "color" property */
}

.animated-label {
  animation: labelColorChange 0.3s;
}

@keyframes labelColorChange {
  from {
    color: white; /* Initial color (white) */
  }
  to {
    color: orange; /* Target color (orange) */
  }
}


